#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
  }

  #schedule {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
  }